.header{
  display: flex;
  justify-content: space-between;
}

.footer{
  display: flex;
  justify-content: center;
  padding: 10px;
  align-items: center;
  bottom: 0cm;
  position: absolute;
  background-color: beige;
  left: 0.1cm;
  right: 0.1cm;
  height: 0.5cm;
  padding: 0.5cm;
  border-radius: 0.5cm;
  font-size: 0.8cm;
}
